:root {
    --bg-col: #000;
    --bg-col-2: #111;
    --fg-col: #FFF;
    --fg-col-2: #DDD;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: var(--bg-col);
    color: var(--fg-col)
}

.label {
    max-width: 200px;
}

body :focus {
    outline: none;
}

th, td {
    outline: var(--fg-col-2) solid 1px;
}

#testcases button {
    margin: 5px;
    display: block;
}

pre {
    margin: 0px;
}

.text-output {
    padding: 5px; 
}

.graph-rect {
    cursor: crosshair;
}